<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Estatus:</label>
                </div>
                <div class="col-md-8">
                    <h5><span class="badge bg-danger" *ngIf="detalle.Estatus == 'Nuevo'">Nuevo</span></h5>
                    <h5><span class="badge bg-primary" *ngIf="detalle.Estatus == 'Asignado'">{{detalle.Estatus}}</span></h5>
                    <h5><span class="badge bg-success" *ngIf="detalle.Estatus == 'En curso,'">{{detalle.Estatus}}</span></h5>
                    <h5><span class="badge bg-warning" *ngIf="detalle.Estatus == 'En revision'">{{detalle.Estatus}}</span></h5>
                    <h5><span class="badge bg-info" *ngIf="detalle.Estatus == 'Aprobado/Terminado'">Aprobado</span></h5>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">No. Servicio:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="detalle.NoServicio" name="noservicio" id="inputNoServicio" value="34567" readonly>
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Fecha Solicitud:</label>
                </div>
                <div class="col-md-8">
                    <input type="date" class="form-control" name="fechaSolicitud" id="inputFechaSolicitud" [value]="detalle.FechaDeSolicitud" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Prioridad:</label>
                </div>
                <div class="col-md-8">
                    <select class="form-select" id="selectPrioridad" disabled="true">
                      <option selected>Seleccione...</option>
                      <option value="1">Alta</option>
                      <option value="2">Media</option>
                      <option value="3">Baja</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Responsable en sitio:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="detalle.ResponsableDelSitio" name="responsable" id="inputResponsable" value="Oscar Cazares" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Empleado Asignado:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="detalle.NoEmpleado" name="empleadoasignado" id="inputEmpleadoAsignado" value="T2858" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Empleado Invitado:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="inputEmpleadoInvitado" [value]="detalle.NoEmpleadoInvitado" readonly>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Tipo de servicio:</label>
                </div>
                <div class="col-md-8">
                    <select class="form-select" id="selectTipoServicio" disabled="true">
                      <option selected>Seleccione...</option>
                      <option value="1">Mantenimiento Correctiva</option>
                      <option value="2">Mantenimiento Preventivo</option>
                      <option value="3">Intalacion</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Fecha Asignacion:</label>
                </div>
                <div class="col-md-8">
                    <input type="date" class="form-control" id="inputFechaAsignacion" [value]="detalle.FechaAsignacion" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Cliente:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="detalle.NombreCliente" name="nombrecliente" id="inputFechaAsignacion" value="SAT" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Sitio:</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="detalle.Sitio" name="Sitio" id="inputSitio" rows="3" readonly></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="col-form-label">Ubicacion:</label>
                </div>
                <div class="col-md-8">
                    <iframe [src]="safeUrl" width="220" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="col-md-12">
                <label class="col-form-label">Asunto:</label>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" id="inputAsunto" rows="3" readonly>{{detalle.Asunto}}</textarea>
            </div>

            <div class="col-md-12">
                <label class="col-form-label">Herramientas necesarias:</label>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" id="inputHerramientas" rows="3" readonly>{{detalle.Herramientas}}</textarea>
            </div>			
            <div class="row mb-2 mt-2">
                <div class="col-md-3">
                    <label class="col-form-label">Descripcion:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"  [(ngModel)]="detalle.Descripcion" name="Descripcion" id="inputDescripcion" value="Telefono" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label class="col-form-label">No. Serie:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" [(ngModel)]="detalle.NoSerieProducto" name="noserieproducto" id="inputNoSerie" value="ABC12345" readonly>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1" disabled="true" [checked]="detalle.idTipoMovProducto == 1">
                <label class="form-check-label">
                  Reemplazo
                </label>
            </div>
            <div class="col-md-12 mt-1">
                <input class="form-check-input"  type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="2" disabled="true" [checked]="detalle.idTipoMovProducto == 2">
                <label class="form-check-label">
                  Reparacion
                </label>
            </div>
            <div class="col-md-12 mt-1">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="3"  disabled="true" [checked]="detalle.idTipoMovProducto == 3">
                <label class="form-check-label">
                  Nuevo
                </label>
            </div>
            <div class="col-md-12">
                <label class="col-form-label">Actividaes Realizadas:</label>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" id="inputActividades" rows="3" readonly>{{detalle.ActividadesRealizadas}}</textarea>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-6">
            <div class="row mt-2">
                   <div class="col-md-4">
                    <label class="col-form-label">Formato de Reporte:</label>
                </div>
                <div class="col-md-8">
                    <a href="#" class="btn btn-light" target="_black">Descargar</a>
                </div>
            </div>
            <div class="row mt-2">
                   <div class="col-md-4">
                    <label class="col-form-label">Adjuntar formato:</label>
                </div>
                <div class="col-md-8">
                    <input type="file" class="form-control" id="inputAttachment" >
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" type="button" (click)="accion('Iniciar')" >INICIAR</button>
                 <button class="btn btn-info" type="button" (click)="accion('Finalizar')" >Finalizar Servicio</button>
                <button class="btn btn-secondary" type="button" (click)="accion('Guardar')">Guardar Reporte</button>
            </div>
        </div>
    </div>

</div>

<app-modal [text]="text" [(open)]="open"></app-modal>
