<div class="card" *ngFor="let opcion of opciones">
  <h1 class="card__title">{{ opcion.Nombre }}</h1>
  <button
    class="card__button"
    routerLink="/{{ opcion.ruta }}"
    routerLinkActive="router-link-active"
  >
    Ir
  </button>
</div>


<div class="col-md-12" *ngFor="let contador of contadores">
  <div class="card text-white bg-{{ contador.Color }} m-3">
    <div class="card-body text-center">
      <h5 class="card-title">{{ contador.Nombre }}</h5>
      <h3 class="card-text">{{ contador.Valor }}</h3>
    </div>
  </div>
</div>
