	{{detalle.Estatus}}
	<div class="container" *ngIf="detalle.Estatus === 'Nuevo'">
		<div class="row mt-5">
		    <div class="col-md-4">
		    	<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Estatus:</label>
					</div>
					<div class="col-md-8">
				    	<h5 *ngIf="detalle.Estatus === 'Nuevo'"><span class="badge bg-danger">{{detalle.Estatus}}</span></h5>
				    	<h5 *ngIf="detalle.Estatus === 'Asignado'"><span class="badge bg-primary">{{detalle.Estatus}}</span></h5>
				    	<h5 *ngIf="detalle.Estatus === 'En curso'"><span class="badge bg-success">{{detalle.Estatus}}</span></h5>
				    	<h5 *ngIf="detalle.Estatus === 'En revision'"><span class="badge bg-warning">{{detalle.Estatus}}</span></h5>
				    	<h5 *ngIf="detalle.Estatus === 'Aprobado'"><span class="badge bg-info">{{detalle.Estatus}}</span></h5>
				    	<!--<h5><span class="badge bg-primary">Asignado</span></h5>
				    	<h5><span class="badge bg-success">En curso</span></h5>
				    	<h5><span class="badge bg-warning">En revision</span></h5>
				    	<h5><span class="badge bg-info">Aprobado</span></h5>-->
					</div>
				</div>
		    	<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">No. Servicio:</label>
					</div>
					<div class="col-md-8">
				    	<input [(ngModel)]="detalle.NoServicio" name="noservicio" type="text" class="form-control" id="inputNoServicio" value="34567" readonly>
					</div>
				</div>
				
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Fecha Solicitud:</label>
					</div>
					<div class="col-md-8">
				    	<input [(ngModel)]="detalle.FechaDeSolicitud" name="noservicio" type="date" class="form-control" id="inputFechaSolicitud" value="2021-01-08" readonly>
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Prioridad:</label>
					</div>
					<div class="col-md-8">
				    	<select name="miselect" class="form-select" [(ngModel)]="detalle.Prioridad">
							<option
							  [value]="detalle.Prioridad"
							  *ngFor="let prioridad of prioridades"
							>
							  {{ prioridad.name }}
							</option>
						  </select>
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Responsable en sitio:</label>
					</div>
					<div class="col-md-8">
				    	<input [(ngModel)]="detalle.ResponsableDelSitio" type="text" class="form-control" id="inputResponsable" value="Oscar Cazares" readonly>
					</div>
				</div>
			</div>



			<div class="col-md-4">
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Tipo de servicio:</label>
					</div>
					<div class="col-md-8">
				    	<select name="miselect" class="form-select" [(ngModel)]="detalle.NombreTipoServicio">
							<option
							  [value]="detalle.NombreTipoServicio"
							  *ngFor="let tipoServicio of tipoServicios"
							>
							  {{ tipoServicio.NombreTipoServicio }}
							</option>
						  </select>
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Fecha Asignacion:</label>
					</div>
					<div class="col-md-8">
				    	<input type="date" [(ngModel)]="detalle.FechaAsignacion" name="fechaAsignacion" class="form-control" id="inputFechaAsignacion" value="2021-01-08">
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Cliente:</label>
					</div>
					<div class="col-md-8">
				    	<input type="text" [(ngModel)]="detalle.NombreCliente" name="nombrecliente" class="form-control" id="inputFechaAsignacion" value="SAT" readonly>
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Sitio:</label>
					</div>
					<div class="col-md-8">
				    	<textarea [(ngModel)]="detalle.Sitio" name="sitio" class="form-control" id="inputSitio" rows="3" readonly></textarea>
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-4">
						<label class="col-form-label">Ubicacion:</label>
					</div>
					<div class="col-md-8">
				    	<iframe [src]="safeUrl" width="200" height="350" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
					</div>

				</div>
			</div>



			<div class="col-md-4">
		    	<div class="col-md-12">
					<label class="col-form-label">Asunto:</label>
				</div>
				<div class="col-md-12">
			    	<textarea [(ngModel)]="detalle.Asunto" name="Asunto" class="form-control" id="inputAsunto" rows="3" readonly></textarea>
				</div>

		    	<div class="col-md-12">
					<label class="col-form-label">Herramientas necesarias:</label>
				</div>
				<div class="col-md-12">
			    	<textarea class="form-control" [(ngModel)]="detalle.Herramientas" name="herramientas" id="inputHerramientas" rows="3">Herramienta 1, herramienta 2, herramienta 3</textarea>
				</div>			
				<div class="row mb-2 mt-2">
			    	<div class="col-md-3">
						<label class="col-form-label">Descripcion:</label>
					</div>
					<div class="col-md-9">
				    	<input type="text" class="form-control" [(ngModel)]="detalle.Descripcion" name="descripcion" id="inputDescripcion" value="Telefono">
					</div>
				</div>
				<div class="row mb-2">
			    	<div class="col-md-3">
						<label class="col-form-label">No. Serie:</label>
					</div>
					<div class="col-md-9">
				    	<input type="text" class="form-control" id="inputNoSerie" [(ngModel)]="detalle.NoSerieProducto" name="noserieproducto">
					</div>
				</div>
				<div class="col-md-12 mt-1">
			    	<input class="form-check-input" type="radio" name="flexRadioDefault" id="reemplazo">
					<label class="form-check-label" for="reemplazo">
					  Reemplazo
					</label>
				</div>
				<div class="col-md-12 mt-1">
			    	<input class="form-check-input" type="radio" name="flexRadioDefault" id="reparacion">
					<label class="form-check-label" for="reparacion">
					  Reparacion
					</label>
				</div>
				<div class="col-md-12 mt-1">
			    	<input class="form-check-input" type="radio" name="flexRadioDefault" id="nuevo">
					<label class="form-check-label" for="nuevo">
					  Nuevo
					</label>
				</div>
			</div>
		</div>
		

		<div class="row text-center">
			<div class="col-md-6">
				<div class="row mt-2">
				   	<div class="col-md-4">
						<label class="col-form-label">No. Empleado Asignado:</label>
					</div>
					<div class="col-md-8">
						<select name="miselect" class="form-select" (change)="getEmpleadoSeleccionado($event)"[(ngModel)]="detalle.NoEmpleado">
							<option
							  [value]="empleado.NoEmpleado"
							  *ngFor="let empleado of comboMDAEmpleados"
							>
							  {{ empleado.NombreEmpleado }}
							</option>
						  </select>
					</div>
					<div class="col-md-12 mt-2">
				    	<input type="text" class="form-control text-center" [(ngModel)]="EmpleadoSeleccionado" name="empleadoSeleccionado" id="inputNombreEmpleado" value="Juan Luis Lopez" readonly>
					</div>
				</div>
				<div class="row mt-2">
				   	<div class="col-md-4">
						<label class="col-form-label">No. Empleado Invitado:</label>
					</div>
					<div class="col-md-8">
						<select name="miselect" class="form-select" (change)="getEmpledoInvitadoSeleccionado($event)" [(ngModel)]="detalle.NoEmpleadoInvitado">
							<option
							  [value]="empleado.NoEmpleado"
							  *ngFor="let empleado of comboMDAEmpleados"
							>
							  {{ empleado.NombreEmpleado }}
							</option>
						  </select>
					</div>
					<div class="col-md-12 mt-2">
				    	<input type="text" class="form-control text-center" [(ngModel)]="EmpleadoInvitadoSeleccionado" name="EmpleadoInvitadoSeleccionado" id="inputNombreEmpleado" value="No Aplica" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-5">
				<div class="d-grid gap-2 col-6 mx-auto">
				  <button class="btn btn-info" type="button" (click)="accion('Asignar')">Guardar Asignacion</button>
				  <button class="btn btn-secondary" type="button" (click)="reset()">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container" *ngIf="detalle === null">
		<h1>Hey no hay nada para este id</h1>
	</div>

	<app-modal [text]="text" [(open)]="open"></app-modal>