<div class="container">
  <form class="form">
    <div class="row mb-3 col-md-12">
      <label class="col-md-2 col-form-label">Fecha Solicitud</label>
      <div class="col-md-6">
        <input
          [(ngModel)]="servicio.FechaSolicitud"
          name="fechasolicitud"
          type="date"
          class="form-control"
          id="inputFechaSolicitud"
        />
      </div>
    </div>
    <div class="row mb-3 col-md-12">
      <label for="inputPassword3" class="col-md-2 col-form-label">Asunto</label>
      <div class="col-md-10">
        <textarea
          [(ngModel)]="servicio.Asunto"
          name="asunto"
          type="text"
          class="form-control"
          id="inputAsunto"
          rows="5"
        ></textarea>
      </div>
    </div>
    <div class="row mb-3 col-md-12">
      <label class="col-md-2 col-form-label">Sucursal</label>
      <div class="col-md-10">
        <select
          name="miselect"
          [(ngModel)]="servicio.Sucursal"
          class="form-select"
        >
          <option
            [value]="sucursal.idSucursal"
            *ngFor="let sucursal of sucursales"
          >
            {{ sucursal.Sitio }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mb-3 col-md-12">
      <label class="col-md-2 col-form-label">Responsable de sitio</label>
      <div class="col-md-6">
        <input
          [(ngModel)]="servicio.ResponsableSitio"
          name="responsable"
          type="text"
          class="form-control"
          id="inputResponsable"
        />
      </div>
    </div>
    <div class="row mb-3 col-md-12">
      <label class="col-md-2 col-form-label">Email</label>
      <div class="col-md-6">
        <input
          [(ngModel)]="servicio.Email"
          name="email"
          type="email"
          class="form-control"
          id="inputEmail"
        />
      </div>
    </div>
    <div class="col-md-12 btn-group text-center" role="group" aria-label="...">
      <input
        class="btn btn-primary"
        type="submit"
        value="Enviar"
        (click)="enviar($event)"
      />
      <button class="btn btn-secondary" href="javascript:void(0)">
        Cancelar
      </button>
    </div>
  </form>
</div>

<app-modal [text]="text" [(open)]="open"></app-modal>
