<div class="container">
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" id="inputPassword2" placeholder="Ingresa el informacion para buscar">
      </div>
    
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
      </div>
  </div>
      <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th scope="col">No Servicio</th>
              <th scope="col">No Empleado</th>
              <th scope="col">Tipo Servicio</th>
              <th scope="col">Prioridad</th>
              <th scope="col">Sucursal</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha asignacion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registro of registros">
              <th>{{registro.NoServicio}} </th> 
              <td>{{registro.NoEmpleado}} </td> 
              <td>{{registro.TipoServicio}} </td> 
              <td>{{registro.Prioridad}} </td> 
              <td>{{registro.Sucursal}} </td> 
              <td>{{registro.Cliente}} </td> 
              <td>{{registro.FechaAsignacion}} </td> 
              <td><a [routerLink]="['/servicios-en-curso',  registro.NoServicio]" routerLinkActive="router-link-active"  class="btn btn-outline-primary">Ver</a></td> 
            </tr>
          </tbody>
        </table>
  
      
  </div>
